# {{ ansible_managed }}
---
services:
  hallwaydisplay:
    container_name: hallwaydisplay
    image: hallway-display-app
    restart: unless-stopped
    hostname: '{{ hallwaydisplay_hostname }}'
    ports:
      - "8000:8000/tcp"
