# {{ ansible_managed }}
---
services:
  hallwaymonitor:
    container_name: hallwaymonitor
    image: hallway-monitor-app
    restart: always
    hostname: '{{ hallwaymonitor_hostname }}'
    ports:
      - "8000:8000/tcp"
