<html>
    <head>
        <title>Hallway Monitor</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <meta http-equiv="refresh" content="1">
    </head>
    <body class="bg-{{ color }}-500 text-white flex items-center justify-center min-h-screen">
        <h1 class="text-4xl">
            {% if color == "red" %}
                On a Call!
            {% else %}
                Not on Call
            {% endif %}
        </h1>
    </body>
</html>